################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/pretrained_models/*.pth
/configs/finetune_speaker.json
/sampled_audio4ft.txt
**/*.wav
/OUTPUT_MODEL
/whisper_models/*.pt
/jtalk_dict/*.bin
/jtalk_dict/*.def
/jtalk_dict/*.dic
/jtalk_dict/COPYING
